{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
set classes = [
'block',
'block-' ~ configuration.provider|clean_class,
'block-' ~ plugin_id|clean_class,
]
%}

<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {% if label %}
        <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}

    <div class="home-video-teaser">
        <div class="video-container">
            <div class="block-video card">
                <div class="video-image"><a href="/media/13"><img src ="/themes/custom/eleague/images/videoslate_TACO.jpg"><img class="play-icon" src="/themes/custom/eleague/images/play-icon.png"></a></div>
                <div class="video-content">
                    <div class="video-body">An inside look at TACO's life and his CS:GO journey.</div>
                </div>
            </div>
            <div class="block-video card">
                <div class="video-image"><a href="/game-command" target="_blank"><img src ="/themes/custom/eleague/images/videoslate_game_command_2.jpg"><img class="play-icon" src="/themes/custom/eleague/images/play-icon.png"></a></div>
                <div class="video-content">
                    <div class="video-body">Every Match. Every Map. All Major Long.</div>
                </div>
            </div>
            <div class="block-video card">
                <div class="ad-wrapper"><div id="ad_rect_atf_01"></div>
            </div>
                </div>
            </div>
        </div>
    </div>
</div>